@import "variaveis.scss";

:host {
  input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;
    border-color: $preto-transparente-30;
    font-size: 1rem;
    outline: none;
    color: $cor-primaria;
    font-size: 1rem;
    font-weight: 500;

    &::placeholder {
      color: $preto-transparente-30;
      font-size: 0.85rem;
    }

    &:focus,
    &:active {
      border-color: $cor-primaria;
      border-width: 2px;
    }
  }

  .suggestion {
    flex-wrap: wrap;

    span {
      color: $preto-transparente-70;
      background: $branco;
      margin-top: 10px;
      margin-right: 5px;
      padding: 5px 10px;
      border: 1px solid $preto-transparente-30;
      border-radius: 20px;
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: rgba($cor-primaria, $alpha: 0.8);
        color: $branco;
      }
    }
  }
}
