@import "color-variables.scss";

$h-spotify-logo: 120px;
$h-menus: 10px;
$h-footer-user: 70px;
$h-desconsiderar: calc($h-spotify-logo + 50px + $h-footer-user);

:host {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: $clr-background-light;
  box-shadow: 1px 0px 15px #00000012;

  height: 100vh;

  .menus {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 40px;

    .image-container {
      min-height: $h-spotify-logo;

      img {
        width: 70%;
      }
    }

    .menu-container {
      width: 100%;

      &.flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      &.options {
        * {
          margin-bottom: $h-menus;
        }
      }

      .playlist-title {
        margin: 10px 0px;
        align-self: flex-start;
        font-weight: 700;
        font-size: 0.7rem;
        color: $clr-light-grey;
      }

      .playlist-scroll {
        width: 100%;
        max-height: calc(95vh - $h-desconsiderar);
        overflow-y: auto;

        * {
          margin-bottom: $h-menus;
        }
      }
    }
  }

  .user-info {
    flex-grow: 0;
    display: block;
    bottom: 0;
    align-self: flex-end;
    height: $h-footer-user;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
  display: none;

  &-thumb {
    background: rgba($clr-primary, $alpha: 0.3);
    border-radius: 10px;
  }

  &-track {
    background-color: transparent;
  }
}
