@import "color-variables.scss";

.container {
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  gap: 15px;
  color: $clr-primary;

  span {
    font-weight: 700;
    padding: 0px 20px;
  }

  img {
    width: 160px;
    border-radius: 10px;
  }

  .player-options {
    align-items: center;
    gap: 20px;

    fa-icon {
      cursor: pointer;

      &:hover {
        color: $clr-primary-hover;
      }
    }
  }
}
