// Light Theme Color
// $clr-primary: #37ab00;
// $clr-text: #37ab00;
// $clr-background: #fbfef4;
// $clr-background-light: #fff;
// $clr-hover: #fbfef4;
// $clr-light-grey: rgba(0, 0, 0, 0.3);
// $clr-shadow: rgba(0, 0, 0, 0.03);

// Dark Theme Color
$clr-primary: #1ed760;
$clr-primary-hover: #26ee6c;
$clr-text: #ffffff;
$clr-background: #000000;
$clr-background-light: #181818;
$clr-hover: #393939;
$clr-light-grey: #747474d3;
$clr-shadow: rgba(0, 0, 0, 0.03);
