// Light Theme Color
$cor-primaria: #37ab00;
$cor-fundo: #fbfef4;
$cor-fundo2: #fff;

$preto-transparente-70: rgba(0, 0, 0, 0.7);
$preto-transparente-30: rgba(0, 0, 0, 0.3);
$preto-transparente-20: rgba(0, 0, 0, 0.2);
$preto-transparente-03: rgba(0, 0, 0, 0.03);
$branco: $cor-fundo2;

// Dark Theme Color
