@import "../../../assets/styles/color-variables.scss";

:host {
  background-color: $clr-background-light;
  padding: 20px;
  border-radius: 10px;

  .top-artists {
    flex-direction: column;

    .artist-item {
      cursor: pointer;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
      border-radius: 5px;

      &:hover {
        background-color: $clr-hover;
      }

      span {
        color: $clr-text;
        font-weight: 600;
        flex-grow: 1;
        font-size: 0.85rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        width: 40px;
        border-radius: 50%;
        flex-grow: 0;
      }
    }
  }
}
